body{
  margin: 0;
}
#root {
  color: white;
  text-shadow: 2px 2px #494444;
}

body{
  /* background-image: url("watarun2.png"); */
  background-color: rgb(22, 22, 22);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.nav-container{
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding-bottom: 0.5rem;
}

.title{
  font-size: 3rem;
  /* color: gold; */
  color: rgb(233, 217, 125);
  margin: 1rem 0 0 1rem
}

#searchInput{
  margin: 2rem 2rem 0 0;
  padding:0.3rem 2rem 0.3rem 0.2rem;
  font-size: 1rem;
  background-color: rgb(212, 211, 209);
}

#countDisplay{
  margin-right: 3rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

h2{
  font-size: 1rem;
  font-family:Arial, Helvetica, sans-serif;
}

p{
  font-size:1rem;
  display: none;
}
#episodes{
  padding-top:5rem;
}
.cards-container{
margin:1rem 2rem 1rem 2rem;
  --auto-grid-min-size: 15rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 2rem;
}

.card{
/* background-color:rgba(61, 61, 61, 0.5); */
background-color: rgb(15, 15, 15);
 border:1px solid rgb(76, 74, 77);
  box-shadow: 5px 5px 10px #616060;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 padding: 0 1rem 1rem 1rem;
 white-space: nowrap;
	overflow: hidden;
}

@media (max-width: 500px){
  .nav-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    background-color:black;
    margin-left: 1rem;
  }

  .title{
    margin-left: 0;
  }
 
  #controls{
    display: flex;
    flex-direction: column;
  }
  #searchInput{
      margin-top: 0.5rem;
  }

  span{
    margin-top: 1rem;;
  }

  #episodes{
    padding-top: 10rem;;
  }
}