
#root {
  color: white;
  text-shadow: 2px 2px #494444;
}

body{
  background-image: url("watarun2.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.title{
  font-size: 3rem;
  color: gold;
  margin: 1rem 0 0 2rem
}

h1{
  font-size: 1.1rem;
}

p{
  font-size:1rem;
}

.cards-container{
margin:1rem 2rem 1rem 2rem;
  --auto-grid-min-size: 13rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
}

.card{
background-color:rgba(61, 61, 61, 0.5);
 border:1px solid rgb(91, 89, 92);
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 padding: 0 2rem 0 2rem;
}
